[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "emilgeo.github.io"]
	path = emilgeo.github.io
	url = https://github.com/emilgeo/emilgeo.github.io.git
